@import 'base/variables';
* {
    font-family: 'MuseoModerno', sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/media';
@import 'blocks/consultation.scss';
@import 'blocks/title';
@import 'blocks/forms';
@import 'blocks/carousel';