@media (max-width: 605px) {
    .revie {
        .revie-item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__wrapper {
                width: 75%;
            }
        }
    }   
    .header {
        flex-wrap: wrap;
        :nth-child(1) {
            order: 1;
            
        }
        :nth-child(2) {
            order: 3;
            margin: 10px 0 0 45px;
            
        }
        :nth-child(3) {
            order: 2;
            margin: 10px 10px 0 0;
        }
        
    }
    .consultation {
        .feed-form {
            width: 80%;
        }
    }
    .prev {
        display: none;
    }
    .next {
        display : none;
    }
}
@media (max-width: 458px) {
    .header {
        :nth-child(1) {
            order: 1;
            
        }
        :nth-child(2) {
            order: 2;
            margin: 10px 0 0 0;
        }
        :nth-child(3) {
            order: 3;
            margin: 10px 0 0 0;
            .button {
                height: 50px;
            }
        }
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        a {
            margin: 0 auto;
        }
        .button{
            width: 250px;
        }
    }
    .benefits__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .promo {
        &__wrapper {
            align-items: center;
            width: 100%;
        }
    }
    .promo__icons {
        justify-content: center;
        width: 100%;
    }
    .promo__header {
        font-size: 30px;
        margin-left: 20px;
    }
    .promo__subheader {
        font-size: 20px;
        margin-left: 20px;
    }
    .consultation {
        .feed-form {
            width: 100%;
        }
    }
}
